*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


* {background-color: black;
}

h1 {font-family: "Norse", 'Courier New', Courier, monospace, Helvetica, sans-serif;
font-size: 118px;
font-weight: 900;
margin-left: 80px;
margin-top: 40px;
color: white;}

body {
    font-family: "Norse", 'Courier New', Courier, monospace, Helvetica, sans-serif;
    color: white;
  }

.subheading {font-size: 50px;
    margin-bottom: 50px;
    margin-left: 80px;}


  a { display: inline-block;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 50px;
    border: solid white;
    margin-left: 80px;
    margin-bottom: 20px;
    padding: 10px;
    text-decoration: none; /* Remove underline from link */
}

    div, h1, p {text-align: center;}

.container { /* NEW */
  background-color: black; /* Background color for the container */
  border: 3px solid white; /* Border around the entire container */
  text-align: center; /* Center align text inside the container */
  padding-right: 80px;
  padding-bottom: 60px;
  width: fit-content; /* Adjust width to fit content */
  margin: 0 auto; /* Center the container */
}